/.idea
/com.amarkhel.mafia.common/target/
/mafiasite-impl/target
/processor-api/target
/processor-impl/target
/mafiasite-api/target
/common/target
/project/target
/target
/token-api/target
/token-impl/target
/user-api/target
/user-impl/target
/tournament-api/target
/tournament-impl/target
/web-server/target
/web-client/target
/web-shared/target
/web-shared/.js/target
/web-shared/.jvm/target
/*.log
/project/project/target/config-classes
