@import controllers.Tournaments
@import com.amarkhel.tournament.api.Tournament
@import com.amarkhel.user.api.User
@import com.amarkhel.tournament.api.Util
@(tournament: Option[Tournament], loggedUser:Option[User])(implicit request:RequestHeader, messages: Messages)

@views.html.layout.logged(title = "Таблица набранных очков")(loggedUser, "tournamentsList") {
@tags.alertFromRequest(request, "error")
@if(!tournament.isEmpty){
<div class="panel panel-default">
    <div class="panel-heading">
        Таблица набранных очков. Сыграно игр - @tournament.get.countFinishedGames Всего игр - @tournament.get.games.size
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Игрок</th>
                        <th>Набрал очков</th>
                    </tr>
                    </thead>
                    <tbody>
                    @tournament.get.stat.map{ pl=>
                    <tr class="success">
                        <td>@pl._1</td>
                        <td>@Util.trimD(pl._3)</td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}
}