@import controllers.Tournaments
@import controllers.StatFormGamer
@import b3.vertical.fieldConstructor
@import com.amarkhel.tournament.api.Tournament
@import com.amarkhel.tournament.api.SolutionResult
@import com.amarkhel.user.api.User
@import com.amarkhel.tournament.api.Util
@(statForm:Form[StatFormGamer], list: Seq[SolutionResult], loggedUser:Option[User])(implicit request:RequestHeader, messages: Messages)

@views.html.layout.logged(title = "")(loggedUser, "playerStat") {
@tags.alertFromRequest(request, "error")
@statForm.globalError.map { error => @tags.alert(error.message, "error")}
@b3.formCSRF(routes.TournamentController.statForPlayer) {
<fieldset>
    <legend>Посмотреть статистику угадываний для игрока</legend>
    @b3.text( statForm("name"), '_hiddenLabel -> "Имя игрока", 'placeholder -> "Имя игрока", 'autofocus -> true )
    @b3.submit('class -> "btn btn-primary btn-block"){ Показать }
</fieldset>
}
@if(!list.isEmpty){
<center><p>Статистика для игрока <b>@list.head.name</b></p></center>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Номер партии</th>
            <th>Дата решения</th>
            <th>Выбор игрока</th>
            <th>Набрал очков</th>
        </tr>
        </thead>
        <tbody>
        @list.map { game =>
        <tr class="success">
            <td>@game.id</td>
            <td>@Util.formatD(game.when)</td>
            <td>@Html.apply(game.choices.map(ch => s"<b>${ch.name}</b> выбран(${if(ch.correct) "<b style='color:blue;'>Правильно</b>" else "<b style='color:red;'>Неправильно</b>"}) на <b>${ch.round}</b> ходу, через <b>${Util.formatSeconds(ch.when)}</b> секунд после начала").mkString(", "))</td>
            <td>@Util.trimD(game.points)</td>
        </tr>
        }
        </tbody>
    </table>
</div>
}
}