@import controllers.Tournaments
@import com.amarkhel.tournament.api.Tournament
@import com.amarkhel.user.api.User
@(tournaments: Tournaments, loggedUser:Option[User])(implicit request:RequestHeader, messages: Messages)

@views.html.layout.logged(title = "Список турниров")(loggedUser) {
    @tags.alertFromRequest(request, "error")
<div class="panel panel-default">
    <div class="panel-heading">
        Турниры
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#created" data-toggle="tab">Созданные</a>
            </li>
            <li><a href="#current" data-toggle="tab">Текущие</a>
            </li>
            <li><a href="#finished" data-toggle="tab">Завершенные</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="created">
                @tournaments.created.map { tour =>
                   @created(tour)
                }
            </div>
            <div class="tab-pane fade" id="current">
                @tournaments.started.map { tour =>
                   @started(tour)
                }
            </div>
            <div class="tab-pane fade" id="finished">
                @tournaments.finished.map { tour =>
                   @created(tour)
                }

            </div>
        </div>
    </div>
</div>

}