@import com.amarkhel.mafia.common.Game
@import com.amarkhel.mafia.parser.MessagePrinter
@import controllers.routes
@import com.amarkhel.user.api.User
@(user: User, isProd:Boolean)(implicit request: RequestHeader, messages: Messages)

@styles = {
    <link rel='stylesheet' href='@routes.MyAssets.resource("css/mafia.css")'>
}
@scripts = {
    @if(isProd) {
        <script src="@routes.MyAssets.resource("webclient-opt.js")" type="text/javascript"></script>
    } else {
        <script src="@routes.MyAssets.resource("webclient-fastopt.js")" type="text/javascript"></script>
    }
    <script>
        window.onload=function(){
          tournament.EventHandler().main('@routes.GameController.chat("").webSocketURL()@user.name')
        }
    </script>
}
@content = {
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
            <div class="text-center">
                <div class="checkbox">
                    <a href="@routes.Application.index">Главная</a>
                    <label>Вы можете выбрать еще <span style="color:red;" id="countUnknownMafia">2</span> мафиози</label>
                    <span id="playersOptions"></span>
                    <a href="@routes.Auth.signOut">@Messages("signout")</a>
                </div>
                <div class="info">
                    <label>Текущий раунд <span style="color:red;" id="currentRound"></span></label>
                    <label id="chosen"></label>
                    <label>Осталось времени <span style="color:red;" id="timeToEnd"></span></label>
                </div>
                <input class="btn btn-primary" type="submit" id="nextRoundButton" value="Загрузить следующий ход">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center" id="location">
                </h3>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Лог в картинках</h4></div>
            <div class="panel-body table-responsive">
                <table class="table table-condensed">
                    <tbody id="playersTable">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Лог чата</h4></div>
            <div class="panel-body" id="chatLog">

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Краткий лог игры</h4></div>
            <div class="panel-body" id="shortLog">

            </div>
        </div>
    </div>
</div>
}

@views.html.layout.logged("Игра", styles, scripts)(Some(user), "game", false)(content)