@import com.amarkhel.user.api.User
@import controllers.routes
@()(implicit loggedUser: Option[User], messages: Messages)

@views.html.layout.notLogged(title = "Главная")(loggedUser) {
    <center><h1 class="text-primary">@Messages("index.title")</h1>

    <p class="lead">
        @loggedUser.map { user =>
            <script>window.location.href = 'index';</script>
        }.getOrElse {
            @Html(Messages("index.intro.notlogged", routes.Auth.signIn, routes.Auth.startSignUp, routes.Auth.forgotPassword))
        }
    </p></center>
}
