@import com.amarkhel.user.api.User
@(title: String, loggedUser: Option[User], tab:String, styles: Html = Html(""), scripts: Html = Html(""), modals: Html = Html(""))(content: Html)(implicit messages: Messages)

@import controllers.routes
@navbarContent = {
<div class="text-center">
    <div class="checkbox">
        <a href="@routes.Application.index">Главная</a>
        <label>Количество неугаданных мафиози <span style="color:red;" id="countUnknownMafia">2</span></label>
        <span id="playersOptions">
        </span>
        <a href="@routes.Auth.signOut">@Messages("signout")</a>
    </div>
    <input class="btn btn-primary" type="submit" id="nextRoundButton" value="Загрузить следующий ход">
</div>
}

@mafiaMain(title, navbarContent, styles, scripts, modals)(content)